default_stages: [commit]

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.0
    hooks:
      - id: ruff
        name: ruff-lint
        args: ["--fix"]
      - id: ruff
        name: ruff-sort-imports
        args: ["--select", "I", "--fix"]
      - id: ruff-format
